.cardBox {
    position: relative;
    width: 88vw;
    padding: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    left: 200px;
    top: 60px;
    transition: 0.5s;
    margin-right: 40px;
}

.cardBox.active {
    left: 100px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 240px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName {
    color: var(--white);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBox {
    font-size: 3.5em;
}

.cardBox .card:hover{
    background: var(--blue);
}

.details {
    position: relative;
    width: 85vw;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
    left: 200px;
    top: 65px;
    transition: 0.5s;
}

.details.active {
    left: 100px;
    width: 75%;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details .recentCustomers table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentCustomers table thead tr {
    font-weight: bold;
}

td, th {
  white-space: nowrap;
  overflow: hidden;
}

.details .recentCustomers table tr:last-child {
    border-bottom: none;
}

.details .recentCustomers table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recentCustomers table tr td {
    padding: 10px;
}

.details .recentCustomers table tr td:last-child {
    text-align: end;
}

.details .recentCustomers table tr td:nth-child(2) {
    text-align: end;
}

.details .recentCustomers table tr td:nth-child(3) {
    text-align: center;
}

.recentCustomers {
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    grid-row-end: span 3;
}

.topBuyers {
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: span 6;
}

.details .topBuyers table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .topBuyers table thead tr {
    font-weight: bold;
}

.details .topBuyers table tr:last-child {
    border-bottom: none;
}

.details .topBuyers table tr td{
    text-align: center;
    padding: 3px;
}

.ordersChart {
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: span 2;
    grid-column-end: span 6;
}

.verified {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.not.verified {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}