<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/fragments/navigation.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/categories/newCategory.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/categories/select.css}"/>
</head>
<body>
<div class="container">
  <div th:replace="fragments/navigation :: navigation"></div>
  <div class="rectangle">
    <div class="formHeader">
      <h2>New Product Category</h2>
    </div>
    <form th:action="@{/categories/add-new-product-category}" th:object="${productCategory}" method="POST">
      <div class="form">
        <span>Product Category</span>
        <textarea type="text" th:field="*{title}" placeholder="Title" required></textarea>

        <span>Meta Title</span>
        <textarea type="text" class="biggerTextArea" th:field="*{metaTitle}" placeholder="Meta title" required></textarea>

        <span>Content</span>
        <textarea type="text" class="biggerTextArea" th:field="*{content}" placeholder="Content" required></textarea>

        <span>Category</span>
          <div class="customSelect">
            <span>
                <select th:field="*{categoryDTO.id}">
                    <option th:each="category : ${categoriesList}"
                            th:text="${category.getTitle}"
                            th:value="${category.getId()}">
                    </option>
                </select>
            </span>
          </div>
        <button  type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');
    let rectangle = document.querySelector('.rectangle');

    toggle.onclick = function() {
        navigation.classList.toggle('active');
        main.classList.toggle('active');
        rectangle.classList.toggle('active');
    }
</script>
</body>
</html>