<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="..\home\style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/header.css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navigation :: navigation"></div>
</div>
<script type="text/javascript">
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function() {
        navigation.classList.toggle('active');
        main.classList.toggle('active');
    }
</script>
</body>
</html>